<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="Console" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\EmeccaLog_" />
      <appendToFile value="true" />

      <param name="RollingStyle" value="Composite" />
      <datePattern value="yyyyMMdd&quot;.txt&quot;" />
      <StaticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="-1"/>
      <!-- 5MB, 4KB -->
      <param name="MaximumFileSize" value="5MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%date %p：%message%newline" />-->
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <!--conversionPattern value="%date %-5level [%thread] (%file:%line) - %message%newline" /-->
        <conversionPattern value="(%line) - %message%newline" />
      </layout>
    </appender>
    
    
    <logger name="EmeccaLogger" additivity ="false">
      <!-- FATAL,ERROR,WARN,INFO,DEBUG,ALL -->
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>


  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0.30319"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <requiredRuntime version="v4.0.30319" />
  </startup>
</configuration>
